<!DOCTYPE html>
<html>
  <head>
    <title>Jangle</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type= "text/javascript">
      window.logo_url = "<%= image_url('game.svg') %>"
    </script>
    <script type= "text/javascript">
      window.profile_url = "<%= image_url('jangle-profile.png') %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
