<!DOCTYPE html>
<html>
<head>
<title>Jangle</title>
<%= csrf_meta_tags %>
<%= csp_meta_tag %>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<%= stylesheet_link_tag    'application', media: 'all' %>

<%= javascript_include_tag 'application' %>
<%= favicon_link_tag asset_path('logo.png'), :rel => 'icon', :type =>'image/png' %>
    <script type= "text/javascript">
      window.logo_url = "<%= image_url('game1.png') %>"
    </script>
    <script type= "text/javascript">
      window.user_url = "<%= image_url('game.png') %>"
      window.profile_url = "<%= image_url('jangle-profile.png') %>"
      window.bomb_url = "<%= image_url('bomb.svg') %>"
      window.box_url = "<%= image_url('box.svg') %>"
      window.catridge_url = "<%= image_url('catridge.svg') %>"
      window.coin_url = "<%= image_url('coin.svg') %>"
      window.computer_url = "<%= image_url('computer.svg') %>"
      window.headphones_url = "<%= image_url('headphones.svg') %>"
      window.pc_url = "<%= image_url('pc.svg') %>"
      window.potion_url = "<%= image_url('potion.svg') %>"
      window.controller_url = "<%= image_url('controller.svg') %>"
      window.disc_url = "<%= image_url('disc.svg') %>"
      window.smartphone_box_url = "<%= image_url('smartphone-box.svg') %>"
      window.smartphone_round_url = "<%= image_url('smartphone-round.svg') %>"
      window.background_url = "<%= image_url('session-background.jpg') %>"
      </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
